/*Start of global styles*/
:root{
    --blue:#2980b9;
    --red:tomato;
    --orange:orange;
    --black:#333;
    --white:#fff;
    --bg-color:#eee;
    --dark-bg:rgba(0,0,0,.7);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid #999;
 }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-size: 20px;
    color: #6d6d6d;
}
h1 {
    font-family: 'Rowdies', cursive;
    color: #038a00;
    font-size: 50px;
}
/*End of global styles*/

/*Start of Style container for .nav-bar*/
.nav-bar {
    display: flex;
    position: relative;
    box-shadow: 0 0.5rem 1rem #00000023;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

    .nav-bar .logo {
        padding: 0px 50px;
    }
/*End of Style container for .nav-bar*/

/* Start of Style links in .nav-bar*/
nav {
    flex: 1;
    text-align: right;
}

    nav ul {
        display: inline-block;
        list-style-type: none;
    }

        nav ul li {
            display: inline-block;
            margin-right: 50px;
        }
        nav ul li a {
            text-decoration: none;
            font-size: 20px;
            box-shadow: inset 0 0 0 0 #038a00;
            color: #038a00;
            padding: 5px 10px;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
          }
          nav ul li a:hover {
            box-shadow: inset 100px 0 0 0 #038a00;
            color: white;
          }
/* End of style links in .nav-bar*/

/*Start of style container & content for .container*/
.container {
    margin: auto;
    padding-left: 70px;
    padding-right: 30px;
    background-color: #f3f3f3;
    min-height: 600px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    padding: 50px 0px;
}

    .col-2 img {
        max-width: 100%;
        padding: 50px 50px;
    }

    .col-2 h1 {
        line-height: 60px;
        margin: 25px 0px;
    }

    .col-2 p {
        max-width: 400px;
    }
    
.button {
    display: inline-block;
    background-color: rgb(3, 138, 0);
    color: #fff;
    font-size: 30px;
    padding: 12px 75px;
    margin: 25px 25px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px #5e5e5e;
    font-family: 'Rowdies', cursive;
}
    .button:hover{
        background: #123524;
    }

/*End of style container & content for .container*/

/*Start of style container & content for .container-2*/
.container-2 {
    margin: auto;
    padding-left: 70px; /*20 padding .nav + 20 padd*/
    padding-right: 30px;
    background-color: #ffffff;
    min-height: 600px;
}

.col-4 {
    flex-basis: 25%;
    min-width: 300px;
    border-radius: .5rem;
    text-align: center;
    padding: 1rem;
    flex: 1 1 20rem;
}

    .col-4 .mini-container {
        padding: 15px;
        margin: 20px 20px;
        border: solid #038a00 .2rem;
        border-radius: 50px;
    }

        .col-4 .mini-container img {
            width: 12rem;
            margin: .5rem 0;
        }

        .col-4 .mini-container .btn {
            display: block;
        }

.box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.box-container .box .btn {
    display: block;
}

.c2-title {
    text-align: center;
    margin-top: 50px;
}

.mini-container h2 {
    font-family: 'Rowdies', cursive;
    color: #038a00;
    font-size: 30px;
    text-align: center;
}

.box-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-top: 1rem;
}

    .box-container .box {
        border: .1rem solid rgba(0,0,0,.3);
        border-radius: .5rem;
        text-align: center;
        padding: 2rem;
        flex: 1 1 20rem;
    }

        .box-container .box img {
            width: 10rem;
            margin: .5rem 0;
        }

        .box-container .box h3 {
            font-size: 2.5rem;
            color: var(--black);
        }

        .box-container .box .btn {
            display: block;
        }

.btn {
    display: inline-block;
    margin-top: 1rem;
    background: rgb(3, 138, 0);
    color: #fff;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Rowdies', cursive;
}

    .btn:hover {
        background: #123524;
    }

div.products {
    padding: 2rem;
    background-color: #f3f3f3;
}

.box .price {
    font-size: 20px
}

.box span {
    font-size: 15px
}
/*End of style container & content for .container-2*/

/*Startof style container & content for .footer*/
.footer {
    padding-top: 3%;
    margin: auto;
    text-align: center;
    background-color: #f3f3f3;
    min-height: 300px;
}
    .footer .col-2{
        padding: 0px 70px;
    }
    .footer .col-2 a{
        font-size: 50px;
        color: #038a00;
        margin: 15px;
    }
    .footer .col-2 a:hover{
        color: #123524;
    }
    .footer .col-2 .icon{
        font-size: 20px;
        text-align: left;
        margin: 0px 15px;
        color: #038a00;
    }

/*End of style container & content for .footer*/

    .container .title{
        text-align: center;
        padding: 40px;
    }

    .container .line{
        display: block;
        border-bottom: solid #038a00 5px;
        max-width: 200px;
        margin: auto;
    }

.col-3{
    flex-basis: 33%;
    min-width: 150px;
}
    .col-3 h3{
        font-size: 20px;
        margin: 20px 0;
        text-align: center;
    }
    .col-3 p{
        font-size: 20px;
        text-transform: none;
        text-align: center;
    }

/* buttons */
.btn,
.option-btn,
.delete-btn{
   display: block;
   width: 100%;
   text-align: center;
   background-color: green;
   color:white;
   font-size: 22px;
   padding: 5px 5px;
   border-radius: .5rem;
   cursor: pointer;
   margin-top: 1rem;
}
.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: rgb(54, 157, 54);
}
.option-btn i,
.delete-btn i{
   padding-right: .5rem;
}
.option-btn{
   background-color: greenyellow;
}
.delete-btn{
   margin-top: 0;
   background-color: rgb(13, 67, 0);
}
.back-btn{
   display: block;
   width: 5%;
   text-align: center;
   background-color: green;
   color:white;
   font-size: 18px;
   padding: 5px 5px;
   border-radius: .5rem;
   cursor: pointer;
   margin-top: 1rem;
   margin-left: 1rem;
}


/* products section */
.heading{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color:var(--black);
    padding-top: 2rem;
    margin-bottom: 2rem;
 }
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap:1.5rem;
    justify-content: center;
 }
 
 .products .box-container .box{
    text-align: center;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border: 1px solid black;
    border-radius: .5rem;
 }
 
 .products .box-container .box img{
    height: 20rem;
    width: 15rem;
 }
 
 .products .box-container .box h3{
    margin:1rem 0;
    font-size: 25px;
    color: black;
 }
 
 .products .box-container .box .price{
    font-size: 2rem;
    color: black;
 }
 /* message */
 .message{
    /* background-color: blu; */
    position: sticky;
    top:0; left:0;
    z-index: 10000;
    border-radius: .5rem;
    /* background-color: var(--; */
    padding:1.5rem 2rem;
    margin:0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
 }
 
 .message span{
    font-size: 20px;
    color: black;
 }
 
 .message i{
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
 }
 
 .message i:hover{
    color:var(--red);
 }

 
 /*Shopping Cart */
.shopping-cart table{
    text-align: center;
    width: 100%;
 }
 
 .shopping-cart table thead th{
    padding:1rem;
    font-size: 18px;
    color:white;
    background-color: green;
 }
 
 .shopping-cart table tr td{
    border-bottom: 1px solid gray;
    padding: 1rem;
    font-size: 20px;
    color: black;
 }
 
 .shopping-cart table input[type="number"]{
    border: 1px solid gray;
    padding:1rem 2rem;
    font-size: 20px;
    color:black;
    width: 10rem;
 }
 
 .shopping-cart table input[type="submit"]{
    padding: .5rem 1.5rem;
    margin-left: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 20px;
    background-color: lightgreen;
    color: white;
 }
 
 .shopping-cart table input[type="submit"]:hover{
    background-color: rgb(96, 160, 96);
 }
 
 .shopping-cart table .table-bottom{
    background-color: rgb(211, 211, 211);
 }
 
 .shopping-cart .checkout-btn{
    text-align: center;
    margin-top: 1rem;
 }
 
 .shopping-cart .checkout-btn a{
    display: inline-block;
    width: auto;
 }
 
 .shopping-cart .checkout-btn a.disabled{
    pointer-events: none;
    opacity: .5;
    user-select: none;
    background-color: gray;
 }



/* checkout-form */
.checkout-form form{
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--bg-color);
 }
 
 .checkout-form form .flex{
    display: flex;
    flex-wrap: wrap;
    gap:.5rem;
 }
 
 .checkout-form form .flex .inputBox{
    flex:1 1 40rem;
 }
 
 .checkout-form form .flex .inputBox span{
    font-size: 2rem;
    color:var(--black);
 }
 
 .checkout-form form .flex .inputBox input,
 .checkout-form form .flex .inputBox select{
    width: 100%;
    background-color: var(--white);
    font-size: 1.7rem;
    color:var(--black);
    border-radius: .5rem;
    margin:1rem 0;
    padding:1.2rem 1.4rem;
    text-transform: none;
    border:var(--border);
 }
 
 .display-order{
    max-width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    text-align: center;
    padding:1.5rem;
    margin:0 auto;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
 }
 
 .display-order span{
    display: inline-block;
    border-radius: .5rem;
    background-color: var(--bg-color);
    padding:.5rem 1.5rem;
    font-size: 2rem;
    color:var(--black);
    margin:.5rem;
 }
 
 .display-order span.grand-total{
    width: 100%;
    background-color: rgb(18, 192, 18);
    color:var(--white);
    padding:1rem;
    margin-top: 1rem;
 }
 
 .order-message-container{
    position: fixed;
    top:0; left:0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    background-color: var(--dark-bg);
    width: 100%;
 }
 
 .order-message-container::-webkit-scrollbar{
    width: 1rem;
 }
 
 .order-message-container::-webkit-scrollbar-track{
    background-color: var(--dark-bg);
 }
 
 .order-message-container::-webkit-scrollbar-thumb{
    background-color: var(--blue);
 }
 
 .order-message-container .message-container{
    width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
 }
 
 .order-message-container .message-container h3{
    font-size: 2.5rem;
    color:var(--black);
 }
 
 .order-message-container .message-container .order-detail{
    background-color: var(--bg-color);
    border-radius: .5rem;
    padding:1rem;
    margin:1rem 0;
 }
 
 .order-message-container .message-container .order-detail span{
    background-color: var(--white);
    border-radius: .5rem;
    color:var(--black);
    font-size: 2rem;
    display: inline-block;
    padding:1rem 1.5rem;
    margin:1rem;
 }
 
 .order-message-container .message-container .order-detail span.total{
    display: block;
    background: var(--red);
    color:var(--white);
 }
 
 .order-message-container .message-container .customer-details{
    margin:1.5rem 0;
 }
 
 .order-message-container .message-container .customer-details p{
    padding:1rem 0;
    font-size: 2rem;
    color:var(--black);
 }
 
 .order-message-container .message-container .customer-details p span{
    color:var(--blue);
    padding:0 .5rem;
    text-transform: none;
 }
 /* checkout-form */

 .img-responsive{
    border-radius: 25px;
    margin-top: 1rem;
 }
 /* account.php styles */

.account-container{
    max-width: 700px;
    display: flex; 
    margin: 5% auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    border-radius: 25px;
 }
    .account-container h1{
        margin: 3% 3px 0 3px;
        
    }
    .account-container .first-con{
        text-align: center;
        flex-basis: 40%;
        background:linear-gradient(120deg, #aaeb90,#d9fcd8);
        padding: 3%;
    }
    .account-container .second-con{
        flex-basis: 60%;
        padding: 40px;
    }
    .account-container .second-con a{
        width: 100%;
        height: 50px;
        border: 1px solid;
        background: #12af12;
        border-radius: 20px;
        font-size: 18px;
        color: #ffffff;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        margin: 5%;
        padding: 10px;
    }
    .account-container .second-con a:hover{
        background: #038a00;
        transition: .5s;
    }    
    .account-container .second-con input[type="submit"]{
        width: 100%;
        height: 50px;
        border: 1px solid;
        background: #12af12;
        border-radius: 20px;
        font-size: 18px;
        color: #ffffff;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        margin: 5%;
        padding: 10px;
    }
    .account-container .second-con input[type="submit"]:hover{
        background: #038a00;
        transition: .5s;
    }

    .account-container .second-con .line{
        max-width: 500px;
        border-bottom: solid 0.1rem #038a00;
    }    
    .account-container .second-con h3{
        font-family: 'Rowdies', cursive;;
        color: #038a00;
    }
    .account-container .first-con .back{
        color: #038a00;
    }    
    .account-container .first-con .back:hover{
        color: #038a00;
        text-decoration: underline;
    }

/* table */
.tbl-full{
    width: 100%;
    margin-left: 5px;
}
.tbl-full tr:nth-child(even){
    background-color: rgb(232, 232, 232);
}
.tbl-full tr th{
    border: 2px solid green;
    text-align: left;
    padding: 2px 5px 2px ;
}
.tbl-full tr td{
    border-bottom: 1px solid green;
    border-left: 1px solid green;
    padding: 1%;
}
.tbl-30{
    width: 50%;
}
/* table */