*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Rowdies', cursive;
    color: #038a00;
    font-size: 50px;
}
.nav{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}
.nav .logo{
    padding: 0px 50px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
}
a{
    text-decoration: none;
    color: #6d6d6d;
}
p{
    color: #6d6d6d;
}
.container{
    margin: auto;
    padding-left: 70px; /*20 padding .nav + 20 padd*/
    padding-right: 30px;
    background-color: #f3f3f3;
    min-height: 600px;  
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 50px 0px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 50px;
}
.col-2 h1{
    line-height: 60px;
    margin: 25px 0px;
}
.col-2 p{
    max-width: 400px;
}
.button{
    display: inline-block;
    background-color: rgb(3, 138, 0);
    color: #fff;
    font-size: 30px;
    padding: 12px 75px;
    margin: 25px 75px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px #5e5e5e;
    font-family: 'Rowdies', cursive;
    
}
.header{
    background-color: #f3f3f3;
}
.container-2{
    margin: auto;
    padding-left: 70px; /*20 padding .nav + 20 padd*/
    padding-right: 30px;
    background-color: #ffffff;
    min-height: 600px;  
}
.col-4{
    flex-basis: 25%;
    min-width: 300px;
    padding: 50px 0px;
}
.col-4 .mini-container{
    background-color: #038a00;
    padding: 20px;
    margin: 30px 20px;
    border-radius: 50px;
}
.c2-title{
    text-align: center;
    margin-top: 50px;
}
.mini-container h2{
    font-family: 'Rowdies', cursive;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.container-3{
    margin: auto;
    padding-left: 70px; /*20 padding .nav + 20 padd*/
    padding-right: 30px;
    background-color: #f3f3f3;
    min-height: 600px;
}
.col-2 .fb-share{
    background-color: #4267B2; /*facebook color*/
    color: #ffffff;
    font-family: 'Rowdies', cursive;
    padding: 20px;
    font-size: 30px;
    border-radius: 50px;
}
.col-2 .fb-share-des{
    padding: 20px;
}